.main {
  padding: 2rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.blog {
  display: block;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  color: inherit;
  border-radius: .5rem;
  background-color: rgb(236, 236, 236);
  transition: all .2s ease;
}

.blog:hover,
.blog:focus {
  background-color: rgb(230, 230, 230);
  color: black;
}

.blog p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1.2rem;
}
.blog div:nth-child(2) {
  justify-content: space-between;
  display: flex;
}