.main {
  padding: .5rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.main h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.main pre {
  white-space: pre-wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 13px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form textarea {
  resize: none;
  height: 5rem;
  width: min(1000px, 100%);
  margin-bottom: 1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form, .comment, .comment p  {
  padding-left: .5rem;
}


.comment {
  background-color: rgb(236, 236, 236);
  border-radius: .5rem;
  padding: .5rem 1rem;
}

